@model MVC___Tareas.Entidades.Tarea

<section>
    <form asp-action="CrearTarea" method="post">
        <div>
            <label asp-for="ID"></label>
            <input type="number" asp-for="ID" />
        </div>
        <div>
            <label asp-for="Descripcion"></label>
            <input type="text" asp-for="Descripcion" />
        </div>
        <div>
            <label asp-for="Duracion"></label>
            <input type="number" asp-for="Duracion" />
        </div>

        <input type="submit" class="btn-success"/>
</form>
</section>