@using MVC___Tareas.Entidades;

@model List<MVC___Tareas.Entidades.Tarea>

<h1>Tareas Realizadas</h1>

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Duracion</th>
    </tr>

    @foreach (Tarea tarea in Model)
    {
        <tr>
            <td>@tarea.ID</td>
            <td>@tarea.Descripcion</td>
            <td>@tarea.Duracion</td>
        </tr>

    }

</table>